*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    
}
html{
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    color: #fff;
}
.fa-bars{
    font-size: 3rem;
    z-index: 10000;
    cursor: pointer;
}
.logo{
    color: #fff;
    font-size: 2rem;
 }
 .logo:hover{
     color:#fff;
 }
 .logo i{
     padding:0.5rem;
 }
 .search-container{
     display: inline;
     position: relative;
 }
 #search{
     position: absolute;
     top: -1.5rem; right: 1rem;
     height: 3.5rem;
     width: 3.5rem;
     font-size: 1.5rem;
     padding: 0 1rem;
     border: none;
     border-radius: 5rem;
 }
 #search:hover,:focus{
     width: 25rem;   
 }
 .fa-shopping-cart{
     font-size: 2rem;
     cursor: pointer;
 }
 .fa-search{
     position: absolute;
     top: -.7rem;
     left: -4rem;
     font-size: 2rem;
     cursor: pointer;
     z-index: 1;
     color: #333;
}
#home{
    min-height: 100vh;
    width: 100vw;
    background-color: #333;
}